/* blogs.css */

.blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: #f9f9f9;
}

.blogs h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #972a2a;
}

.coming-soon {
  font-size: 3rem;
  font-weight: bold;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  background-color: #fff;
}
