.blogs {
    padding: 50px;
    background: #f9f9f9;
    text-align: center;
  }
  
  .blog-card {
    background: #e0b3b3;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .blog-card h3 {
    font-size: 24px;
    color: rgb(0, 0, 0);
  }
  
  .blog-card p {
    font-size: 16px;
    color: rgb(50, 50, 50);
    margin-bottom: 10px;
  }
  
  .read-more {
    text-decoration: none;
    color: #ffffff;
    background: #333;
    padding: 8px 16px;
    border-radius: 4px;
    display: inline-block;
    margin-top: 10px;
  }
  
  .read-more:hover {
    background: #555;
  }
  