/* projects.css */
.projects-container {
  display: flex;
  min-height: 100vh;
  padding: 40px;
  background-color: #f9f9f9;
  flex-direction: column;
  font-family: 'Karla', sans-serif;
}

/* Sidebar Styling */
.sidebar {
  position: fixed;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute; /* Ensures the icons are placed correctly */
  bottom: 20px; /* Moves the icons to the bottom */
}

.sidebar-icon {
  width: 40px;
  height: 40px;
  transition: transform 0.2s ease-in-out;
  margin-right: 50px;
}

.sidebar-icon:hover {
  transform: scale(1.1);
}

/* Main Content */
.projects-content {
  margin-left: 100px; /* To avoid overlap with sidebar */
  max-width: 800px;
  margin: auto;
  padding: 20px;
  font-family: 'Karla', sans-serif;
}

.section-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 60px;
  margin-top: 70px;
  font-family: 'Karla', sans-serif;
}

.project {
  margin-bottom: 30px;
}

.project h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
  font-family: 'Karla', sans-serif;

}

.project p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  margin-top: 10px;
  /* margin-bottom: 20px; */
}

.project-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.project-icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.project-icon:hover {
  transform: scale(1.1);
}
